# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Stacks API (testnet)
NEXT_PUBLIC_STACKS_API=https://api.testnet.hiro.so

# Your deployer address (where contracts are deployed)
NEXT_PUBLIC_CONTRACT_ADDRESS=ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM
